<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="assets/style.css" />
        <title>Mayer Amschel Rothschild</title>
    </head>

    <body>
        <div class="container">
            <header><h1>Mayer Amschel Rothschild</h1></header>
            <main>
                <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Mayer_Amschel_Rothschild.jpg" alt="A picture with Mayer Amschel Rotschild." class="img-responsive" />
                    <figcaption><i>Mayer Amschel Rothschild, source: Wikipedia.</i></figcaption>
                </figure>
                <section>
                    <p>Mayer Amschel Rothschild (23 February 1744 – 19 September 1812; also spelled Anschel), was a German Jewish banker and the founder of the Rothschild banking dynasty.<wbr />
                        Referred to as a "founding father of international finance," Rothschild was ranked seventh on the Forbes magazine list of "The Twenty Most Influential Businessmen of All Time" in 2005.</p>
                    <ul>
                        <li>1744<b> - </b>Birth date.</li>
                        <li>1757<b> - </b>was aprprenticeship under Jacob W. Oppenheimer, at the banking firm of Simon W. Oppenheimer.</li>
                        <li>You can learn more on <a href="https://en.wikipedia.org/wiki/Mayer_Amschel_Rothschild" target="_blank">Wikipedia.</a></li>
                        <li>1812<b> - </b>Death date.</li>
                    </ul>
                </section>
            </main>
            <footer>You can see the source code on <a href="https://github.com/memhttps/fcc-tributepage" target="_blank">Github</a>.</footer>
        </div>
    </body>

</html>